body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: ghostwhite;
}

.logo {
    font-size: 35px;
    color: black;
    text-align: center;
    padding: 18px;
    margin: 15px;
    /*margin: 0 0 30px 0;*/
    border: 3px deepskyblue solid;
}

.bluey input[type="button"] {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
    display: inline;
}

#clockIn input[type="button"] {
    display: inline;
    float: left;
}

#clockOut input[type="button"] {
    display: inline;
    float: right;
}

.heading1 {
    padding: 15px;
    margin: 5px;
    display: inline;
}

#i0 {
    float: right;
    padding: 15px;
    margin: 5px;
}

#i1 {
    float: right;
}

#i2 {
    float: right;
}

.tabcont {
    padding: 10px;
    width: 100%;
}

th {
    background-color: lightsteelblue;
    font-size: 15px;
    padding: 10px;
    color: black;
}

td {
    text-align: center;
    padding: 15px;
}

#th1 {
    width: 20%;
}

#th5 {
    width: 10%;
}

tr:nth-of-type(even) {
    /*padding: 10px;*/
    background-color: white;
    color: black;
}

tr:nth-of-type(odd) {
    /*padding: 10px;*/
    background-color: black;
    color: white;
}